<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab_5.Properties.Settings.SchoolConnectionString"
            connectionString="Data Source=DESKTOP-26HSG19\SQLEXPRESS;Initial Catalog=School;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>